In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()
#rows, columns = df.shape
print (df.shape)
#print(f"The dataset contains {rows} rows and {columns} columns.")
summary = df.describe()
print(summary)
#2.2 the difference between observations and variables in the context of this dataset is that each
# observation has variables, this means that each villager (observation) has different variables 
# (gender, name, etc) that differ. in this case each row contains an observation and each column 
# contain its variables

(391, 11)
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [ ]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_df = pd.read_csv(url)
print(villagers_df.columns)

In [16]:
#villagers_df['birthday'].value_counts()

In [11]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
villagers_df = pd.read_csv(url)
#print(villagers_df)
#villagers_only_df = villagers_df[villagers_df['birthday'] == 'villagers']
#print(villagers_only_df)

In [22]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

#print(df.shape)

#print(df.describe())

#print(df['sex'].value_counts())
#print(df.columns)

print((df).groupby("sex")["age"].describe())
#4 using df.shape it tells us that there are 891 rows but in the column of age there are only
# 714 entries, this could just be the result of missing data

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [19]:
#5 using an attribute (df.shape) gave us only the shape of the data frame such as number
# of rows and columns given as straight values. using a method (df.describe()) provided
# more data for each row and also calculated the mean, standard deviation, etc. the
# parenthesis are a way to know that the computer is doing calculations.

#6 the count is the number of rows with data
#  the mean is the average for the column from the information from each row
#  the std (standard deviation) is the average in which the data strays from the mean
#  the min is the minimum value in the column
#  the 25th percentile is where 25% of the data in that column lies below that value
#  the 50th percentile is where 50% of the data lies below that value
#  the 75th percentile is where 75% of the data lies below that value
#  the max is the maximum value in the column

#7.1 a use case in which dropping a row over a column is when the row is missing too much 
# information in the columns such that you dont know if it is accurate to assume that it 
# is real, another could be that the row is an extreme outlier that could negatively affect
# the accuracy of the mean or standard deviation
#7.2 a use case where dropping a column is preffered could be when there is not enough entries
# from different rows such that you dont know if the information accurate or not, another could
# be that the information in that column is not useful
#7.3 because in a row with column data missing, it could still provide valuable data for different
# columns, deleting the column first would delete data from all the rows

In [11]:
#7.4
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
print(df.describe())
del df['deck']
#del df['age']
#missing_data = df[df.isnull().any(axis=1)]
#print(missing_data)
df.dropna(inplace=True)
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
         survived      pclass         age       sibsp       parch        fare
count  712.000000  712.000000  712.000000  712.000000  712.000000  712.000000
mean     0.404494    2.240169   29.642093    0.514045    0.432584   34.567251
std      0.491139    0.836854   14.492933    0.930692    0.854181   52.938648
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.000000    0.000000    0.000000    8.050000
50%      0.000000    2.000000   28.000000    0.000000    0.000000   15.645850
75%      1.000000    3.000000   38.000000    1.000000    1.000000   33.000000
max      1.000000    3.000000   80.000000    5.000000    6.000000  512.329200

In [21]:
#7.4 first i dropped the column 'deck' which had the most Nan answers then i 
# dropped all rows which did not provide an age, this is because the age of
# the passengers is important data and id like to keep that, i still retained
# most of the rows however the stats such as (mean, std) still changed slightly

#8.1 df.groupby("col1")["col2"].describe() is a command that groups the data
# using unique values from the columns
#8.2 df.groupby("col1")["col2"].describe() would capture something different
# because each group would only have a fraction of the total entries. the count 
# from each group should be the total number of rows
#8.3.i its easier to use chatbot for this error as both google and chatbots
# provided the answer however googles answer was surrounded by other commands
# that i did not understand
#8.3.ii its easier to use a chatbot for this error google said that there are 
# no files with the name 'titanic' while the chatbot gave solutions such as to 
# check file names and extensions etc.
#8.3.iii by doing this i get the same error as 8.3.i where it is easier to use
# a chatbot to resolve
#8.3.iv it is still easier using chatbot which gave me the correct code 
# immediately while i had to loook through a few google sites to find the 
# solution
#8.3.v chatbot is easier as it gave the correct code immediately while google
# did not have any examples of the specific problem
#8.3.vi chatbot was easier it already knew the answer in the context of code
# while google could not find the answer to the problem
#8.3.vii chatbot was able to solve the problem but google wasnt
#9 somewhat
# chatgpt links https://chatgpt.com/share/366e3ae3-fbb5-488f-8364-ab2b077e1c4e
#               https://chatgpt.com/share/c7ce1653-2654-4f46-a21a-d508b97a1f86
# Summary:
#Using df.shape and df.describe():
#
#df.shape: Provides the dimensions (rows, columns) of the DataFrame.
#df.describe(): Gives summary statistics (like count, mean, min, max) for numerical columns in the DataFrame.
#Printing a Subset of Data:
#
#df.head(n): Prints the first n rows of the DataFrame.
#df.tail(n): Prints the last n rows of the DataFrame.
#Slicing: df[start:end] prints rows from index start to end-1.
#Checking Missing Data:
#
#df.isnull(): Detects missing values in the DataFrame.
#df.dropna(): Removes rows with missing values. You can use inplace=True to modify the DataFrame directly or provide specific parameters to control which rows are dropped.
#Using df.groupby("col1")["col2"].describe():

Groups the DataFrame by the unique values in "col1" and provides descriptive statistics for "col2" within each group.
Handling Errors:

NameError: name 'pd' is not defined: Make sure to import pandas as pd using import pandas as pd.
FileNotFoundError: Ensure the file path is correct and the file exists.
SyntaxError: incomplete input: Check for missing parentheses or incomplete statements.
AttributeError: Ensure method names are spelled correctly (describe() not describle).
KeyError: Verify the column name exists in the DataFrame and is spelled correctly.
NameError: name 'sex' is not defined: Use column names as strings within square brackets (e.g., df['Sex']).
This summary covers the key points discussed and provides solutions to common errors and operations you might perform with a pandas DataFrame